apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml
- ingress.yaml
namespace: hello-gitops
images:
- name: hello-gitops
  newName: ai2humanize/hello-gitops
  newTag: 95c16f162843ed65a2671c260b0007bedcfaca8a
